*{
    margin: 0;
    padding: 0;
}

header{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("img/home1.jpg");
  background-attachment: fixed;
  background-size: cover;         /* Image will be cover entire box*/
  background-position: center;
}



.header-content {
    letter-spacing: 0.5rem;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    padding: 90px;
    margin-bottom: 150px;
  }

  /* Events */

  
  body{
    background-color: rgb(233, 222, 220);
  }

  .title {
    padding-top: 40px;
    text-align: center;
    font-size: 4vmin;
  }

  .card-img{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .image{
   margin-top: 20px;
  background-image: url("img/bg.png");
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  }

  .imageview{

    background-image: url("img/bg2.png");
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;

  }

  .row{
    display: flex;
  }

 

.image-gallery{
  margin-top: 30px;
}

.content-col{
 margin-left: 30px;
 margin-top: 60px;
}



/* .footer {
  width: 100%;
  min-height: 40px;
  text-align: center;
  background: #695b5b;
} */
.footer {
  padding-top: 20px;
  width: 100%;
  min-height: 40px;
  text-align: center;
  background: #e5e2e2;
}

.image-col{
  margin-top: 10px;
  margin-left: -80px;
  margin-right: 200px;
}

.img1{
  
  border-radius: 30px;
}


@media(max-width:1229px){

  .ak{
    flex-direction: column;
  }
}
